Options +FollowSymLinks
RewriteEngine on

RewriteRule ^data/21$ https://www.vai.be/en/project/brugse-poort-neighbourhood-health-centre [R=302,NC,NE,L]
RewriteRule ^data/22$ https://www.vai.be/en/project/k-in-kortrijk-shopping-centre [R=302,NC,NE,L]
RewriteRule ^data/23$ https://www.vai.be/en/project/after-the-party-belgian-pavilion [R=302,NC,NE,L]
RewriteRule ^data/24$ https://www.vai.be/en/project/arteconomy-house [R=302,NC,NE,L]
RewriteRule ^data/25$ https://www.vai.be/en/project/bronks-childrens-theatre-brussels [R=302,NC,NE,L]
RewriteRule ^data/26$ https://www.vai.be/en/project/c-mine-culturale-centre [R=302,NC,NE,L]
RewriteRule ^data/27$ https://www.vai.be/en/project/courtyard-with-outdoor-room-smetlede [R=302,NC,NE,L]
RewriteRule ^data/28$ https://www.vai.be/en/project/gravel-bins-oude-dokken-ghent [R=302,NC,NE,L]
RewriteRule ^data/29$ https://www.vai.be/en/project/house-and-practice-opwijk [R=302,NC,NE,L]
RewriteRule ^detail/30$ https://www.vai.be/en/project/huis-aant-laar-care-home-zoersel [R=302,NC,NE,L]
RewriteRule ^data/31$ https://www.vai.be/en/project/rotelenberg-house [R=302,NC,NE,L]
RewriteRule ^representation/22$ https://www.vai.be/sites/default/files/fotos/projecten/s12_jaar_afb_p109_0.jpg [R=302,NC,NE,L]
RewriteRule ^representation/23$ https://www.vai.be/sites/default/files/fotos/projecten/20110306_JAAR_PROJ08_01.jpg [R=302,NC,NE,L]
RewriteRule ^representation/24$ https://www.vai.be/sites/default/files/fotos/projecten/s12_jaar_afb_p85_0.jpg [R=302,NC,NE,L]
RewriteRule ^representation/25$ https://www.vai.be/sites/default/files/fotos/projecten/20110306_JAAR_PROJ01_01_0.jpg [R=302,NC,NE,L]
RewriteRule ^representation/26$ https://www.vai.be/sites/default/files/fotos/projecten/s12_jaar_afb_p17_0.jpg [R=302,NC,NE,L]
RewriteRule ^representation/27$ https://www.vai.be/sites/default/files/fotos/projecten/s12_jaar_afb_p79.jpg [R=302,NC,NE,L]
RewriteRule ^representation/28$ https://www.vai.be/sites/default/files/fotos/projecten/melsensgigante_usemegrindbakken_foto_treesdeconinck_1.jpg [R=302,NC,NE,L]
RewriteRule ^representation/29$ https://www.vai.be/sites/default/files/fotos/projecten/s12_jaar_afb_p54_lr_0.jpg [R=302,NC,NE,L]
RewriteRule ^representation/30$ https://www.vai.be/sites/default/files/fotos/projecten/51n4e-125-08_copyright_filip-dujardin.jpg [R=302,NC,NE,L]
RewriteRule ^representation/31$ https://www.vai.be/sites/default/files/fotos/projecten/s12_jaar_afb_p91.jpg [R=302,NC,NE,L]
