Options +FollowSymLinks
RewriteEngine on

RewriteRule data/21$ https://www.vai.be/en/project/k-in-kortrijk-shopping-centre [R=302,NC,NE,L]
RewriteRule data/22$ https://www.vai.be/en/project/k-in-kortrijk-shopping-centre [R=302,NC,NE,L]
RewriteRule data/23$ https://resolver.be/ [R=302,NC,NE,L]
